.wraper {
  max-width: 1280px;
  padding: 0  15px;
  margin: 0 auto;
  border: 1px solid #f00;
}

.wraper .col {
  border: 1px solid #fff;
  min-height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background: #777;
  width: -webkit-calc(8.33% - 30px);
  width: calc(8.33% - 30px);
  margin: 15px;
}

.wraper .col div {
  background: #777;
  min-height: inherit;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}