//@import "part";

.wraper{
	max-width: 1280px;
	padding: 0  15px;
	margin: 0 auto;
	border: 1px solid #f00;
	.col{
		border: 1px solid #fff;
		min-height: 400px;
		box-sizing:border-box;
		text-align: center;
        background:#777; 
		width: calc(8.33% - 30px);
		margin:15px;
		
		div{
			background: #777;
			min-height: inherit;
		}


	}
}
.row{
	display: flex;
	flex-wrap:wrap;
	margin: 0 -15px;
}


//для родителя в котором испльзуется потомки с флоатом
.clearfix:after{
	content:"";
	display: block;
	clear: both;
}



